.character {

    &__navigation {
        background-color: var(--color-blue-300);
        display: flex;
        align-items: flex-end;
        gap: 1rem;
        padding: 0 1rem;
        width: 500px;
        height: 120px;
    }
}