:root {
    // Neutral
    --color-dark-400: hsl(204, 68%, 11%);

    // Blue
    --color-blue-300: hsl(218, 52%, 78%);
    --color-blue-400: hsl(219, 65%, 73%);
    --color-blue-500: hsl(219, 67%, 61%);

    // Yellow
    --color-sand-400: hsl(60, 51%, 93%);

    // Red
    --color-rose-400: hsl(0, 75%, 62%);

    // Width
    --spacing-width: 400px;
}